.App {
  font-family: "Amatic SC", cursive;
  font-family: "Dancing Script", cursive;
  display: block;
  text-align: center;
  max-width: 500px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  color: white;
  margin-left: 100px;
  margin-top: 60px;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

li {
  list-style: none;
  font-size: 20px;
  padding-right: 70px;
}

.btn-primary {
  background-color: lightpink;
  border: black;
  margin: 5px;
  border-radius: 5px;
  height: 20px;
}
