.App {
  font-family: "Courier New", Courier, monospace;
  max-width: 600px;
  margin: 30px auto;
  margin-top: 60px;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #000028;

  background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.7) 20%,
      transparent 30%
    ),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%);
  background-size: 4px 4px, 3px 3px, 5px 5px, 3px 3px, 6px 6px, 4px 4px, 5px 5px,
    4px 4px, 6px 6px, 3px 3px, 5px 5px, 4px 4px, 3px 3px, 6px 6px, 5px 5px,
    4px 4px, 5px 5px, 6px 6px;
  background-position: 20% 10%, 5% 20%, 10% 75%, 22% 35%, 30% 30%, 40% 50%,
    45% 20%, 65% 20%, 85% 30%, 98% 90%, 20% 80%, 50% 80%, 75% 80%, 89% 75%,
    90% 95%, 60% 70%, 65% 40%, 90% 20%;
  background-repeat: no-repeat;
  animation: twinkle ease-in 1s infinite;
  background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.7) 20%,
      transparent 30%
    ),
    radial-gradient(circle, #fff 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, #fff 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, #fff 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, #fff 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, #fff 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, #fff 20%, transparent 30%),
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, transparent 30%),
    radial-gradient(circle, #fff 20%, transparent 30%),
    radial-gradient(circle, #fff 20%, transparent 30%);
}

li {
  list-style: none;
  padding-right: 70px;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  color: #fff;
}
