.App {
  font-family: "Courier New", Courier, monospace;
  background-color: lavender;
  max-width: 600px;
  margin: 30px auto;

  margin-top: 60px;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

li {
  list-style: none;

  padding-right: 70px;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}

.btn {
  font-size: xx-small;
}
